.cart-dropdown{
    position: absolute;
    top: 31px;
    right: 50%;
    left: 50%;
    background: #fff;
    border: 2px solid #777;
    transform: translate(-75%, 0);
    width: 240px;
    border-radius: 2px;
}
