.cart-dropdown{
    position: absolute;
    top: 31px;
    left: 50%;
    right: 50%;
    background: #fff;
    border: 2px solid #777;
    transform: translate(-50%, 0);
    width: 240px;
    border-radius: 2px;
}

.cart-dropdown:hover{
    background: linear-gradient(120deg, #4d63e0 60%, #70f59c 60%);
}

.cart-dropdown-right:hover{
    background: linear-gradient(#70f59c 20%, #4d63e0 20% 80%, #70f59c 80%);
}

.cart-dropdown-right-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 500;
}

.cart-dropdown-right-shape{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 500;
    margin: 1em 0;
}