.child{
    color: #222;
    text-decoration: none;
    margin: 0;
    font-weight: 500;
    padding: 0.1rem 2rem 0rem 2rem;
    cursor: pointer;
    text-transform: initial;
    display: flex;
}

.child:hover{
    color: #44b;
}

.image-container{
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 1px 3px 5px;
}

.user-image{
    border-radius: 50%;
    height: 100%; 
    width: 100%;
}

.caret-container{
    margin: 2px 0;
}

