.form-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: -3rem;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 4px #eee;
    border: 1px solid #eee;
}
input{
    padding: 1rem 0.7rem 0.3rem 1rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid white;
    border-bottom: 1px solid gray;
    font-size: 0.85rem;
}
input:focus{
    border: 1px solid white;
    outline: none;
    border-bottom: 1px solid gray;
}
input[type="submit"]{
    width: 40%;
    padding: 0.7rem 0.5rem;
    border: none;
    background: linear-gradient(to left bottom, #3334aa -10%, #12eedd);
    /* background-image: linear-gradient(to left bottom, #c9c 30%, #55bbb2); */
    color: white;
    font-weight: 550;
    font-size: 0.9rem;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: #840032;
}
input[type="file"]{
    border-radius: 0 5px;
    padding: 1rem 1rem 0.33rem 0;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
}
  .custom-file-input::before {
      z-index: 10;
    content: 'Choose Files';
    /* background: linear-gradient(top, #837d7d, #e3e3e3); */
    border-radius: 5px 0 0 5px;
    color: white;
    display:inline;
    /* border-radius: 3px; */
    padding: 10px 5px;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    background: linear-gradient(to left bottom, #3334aa -10%, #12eedd);
  }
  .custom-file-input:hover::before {
    border-color: black;
    color: #840032;
  }
