.dropdown{
    position: absolute;
    top: 7%;
    right: 3%;
    background-color: #161b22;
    color: white;
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 2px 2px 3px gray;
}
.dropdown-list{
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;
    text-transform: initial;
    border-radius: 5px;
    border-bottom: 1px solid #666;
    font-size: 14px;
    text-align: left;
}

.list-item-0{
    padding: 1em 4em 1em 1em;
}

.list-item-1{
    padding: 0.5em 4em 0.5em 1em;
    cursor: pointer;
}

.list-item-1:hover{
    background-color: #1179da;
    font-weight: 600;
}