.dropdown{
    position: absolute;
    top: 7%;
    right: 3%;
    background-color: black;
    color: white;
    border-radius: 5px;
    /* border: 1px solid #666; */
    box-shadow: 2px 2px 3px gray;
}
.dropdown-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-list-up{
    border-bottom: 1px solid #555;
}

.list-item{
    padding: 1em;
    cursor: pointer;
}

.list-item:hover{
    background-color: #44b;

}